@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  @apply no-underline;
}

.main--padding {
  @apply lg:px-20 lg:py-0 px-5 py-5;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 800px;
}

.ql-toolbar {
  @apply hidden border-none;
}
.ql-container {
  @apply !h-64 !border-solid !border-slate-400 !border-t-[1px] !rounded-md;
}
